.page-template-tmp-about{

    /* ===========================
             ABOUT PAGE
    =========================== */
    .main-content-area > .row .main-content-inner{
        margin-top: 1.25rem;
    }




    /* ===========================
               SECTIONS
    =========================== */
    #primary .site-main section{
        padding: 2rem 0;

        &:first-child{ padding-top: 0; }
        &:nth-child(even){ background: #f6f6f6; }
        &:last-child{ padding: 1.75rem 0; }

        &#skills, &#team{
            .section-content p{
                font-size: .95rem;
                text-align: center;
            }
        }
    }

    @media(min-width:$screen-sm) {
        #primary .site-main section{
            &#skills, &#team{
                .section-content p{
                    font-size: .75rem;
                }
            }
        }
    }




    /* ===========================
              PAGE TITLE
    =========================== */
    #primary .site-main #about .section-inner-content article{
        .section-top{
            position: relative;
            display: flex;
            align-items: flex-end;

            .section-header{
                display: inline-block;
                width: auto;
                float: none;
                padding: 0;
            }

            .section-footer{
                display: inline-block;
                position: absolute;
                right: 0;
            }
        }

        @media(max-width:$screen-sm) {
            .section-top{
                display: block;

                .section-header, .section-footer{
                    width: 100%;
                    display: block;
                    float: none !important;
                }

                .section-footer{
                    margin-top: .25rem;
                    position: relative;
                }
            }
        }
    }




    /* ===========================
            SECTION ABOUT
    =========================== */
    #primary .site-main #about .section-inner-content article .section-content{
        margin-top: 3.25rem;

        .entry-content-thumbnail{
            margin-bottom: 1.5rem;

            img{ border-radius: 4px; width: 100%; }
        }

        .entry-content{
            p{
                margin-bottom: 1.25rem;

                &:last-child{ margin-bottom: 0; }
            }
        }

        @media(min-width:$screen-sm) {
            .entry-content-thumbnail{
                margin-right: .625rem;
                width: calc(50% - .625rem);
                margin-bottom: 0;
            }

            .entry-content{
                margin-left: .625rem;
                width: calc(50% - .625rem);

                p{ text-align: left; }
            }
        }
    }




    /* ===========================
         SECTION TEAM HEADER
    =========================== */
    #primary .site-main #team .section-inner-content{
        .section-top{
            position: relative;
            display: inline-block;
            margin-bottom: 2.5rem;

            .section-header{
                display: block;
                margin: 0 auto;
            }

            .entry-footer{
                display: block;
                width: 100%;
                margin: 0 auto;
                text-align: left;
                margin-top: .25rem;

                a{
                    color: $brand-primary;
                    text-decoration: underline;

                    &:hover{ color: $gray-dark; }
                }
            }
        }

        @media(min-width:$screen-sm) {
            .section-top{
                position: relative;
                display: flex;
                align-items: flex-end;

                .section-header{
                    display: inline-block;
                    margin: 0;
                    width: auto;
                }

                .entry-footer{
                    position: absolute;
                    right: 0;
                    max-width: none;
                    width: auto;
                }
            }
        }
    }




    /* ===========================
         SECTION TEAM CONTENT
    =========================== */
    #primary .site-main #team .section-inner-content{
        .team-single{
            border: 1px solid $gray-lighting;
            width: calc(100% - 1.25rem + (1.25rem / 4));
            max-width: 266px;
            margin: 0 auto;
            margin-bottom: 1.25rem;
            padding-bottom: 1.25rem;
            float: none;

            &:last-child{
                margin-bottom: 0;
            }

            .section-title{
                margin-top: 1.25rem;
                margin-bottom: .35rem;

                h3{
                    text-align: center;
                    text-transform: capitalize;
                }
            }
        }

        @media(min-width:$screen-sm) {
            .team-single{
                width: calc(25% - 1.25rem + (1.25rem / 4));
                margin-right: 1.25rem;
                float: left;

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }




    /* ===========================
         SECTION TEAM CONTENT
    =========================== */
    #primary .site-main #newsletters .section-inner-content{
        text-align: center;

        .section-title{
            float: none;

            h2{
                font-family: $font-family-CTA;
                text-align: center;
                margin-bottom: 1.5rem;
            }
        }

        .form_newsletter{
            padding-left: 16px;
            width: auto;
            margin: 0 auto;
            float: none;
            display: inline-block;

            form{
                > span.wpcf7-form-control-wrap{
                    display: inline-block;
                    margin-right: 1rem;

                    input[type="email"]{
                        margin-right: 1rem;
                        width: 100%;
                    }
                }

                .btn{
                    margin-top: 1rem;
                }

                .wpcf7-display-none{ display: none !important; }
            }
        }
    }

    @media(min-width:$screen-sm) {
        #primary .site-main #newsletters .section-inner-content{
            display: flex;
            align-items: center;

            .section-title h2{
                text-align: left;
                margin-bottom: 0;
            }

            .form_newsletter form{
                display: flex;
                align-items: baseline;

                > span.wpcf7-form-control-wrap{ width: 60%; }
            }
        }
    }
}
