.main-content-area > .row{
    margin: 2.3rem 0 0 0;
}



/* ===========================
          FIL ARIANE
=========================== */
.main-content-area > .row .fil_ariane{
    font-size: 1rem;
    padding: 0;
    display: block;

    p{
        font-family: $font-family-CTA;
        font-size: 1rem;
        display: inline-block;
    }

    a{
        font-family: $font-family-title;
        color: $brand-primary;
        font-size: 1rem;
    }
}
