.page-template-tmp-home{


    /* ===========================
               HOME PAGE
    =========================== */
    .main-content-area > .row{
        margin: 0;

        > .container{
            padding: 0;
            width: 100%;

            .main-content-inner{
                float: none;
            }
        }
    }





    /* ===========================
            SECTION INTRO
    =========================== */
    #primary .site-main #intro{
        padding-top: 0;
        padding-bottom: 0;

        .container{
            position: relative;
            z-index: 1;
            padding: 0;
            width: 100%;
            height: 100%;
            max-height: calc( 100vh - 87px);
            overflow: hidden;
        }
    }


    #primary .site-main #intro .section-inner-content #carousel-intro{
        margin: 0;

        .carousel-indicators{
            bottom: 5px;

            .active{
                background-color: $brand-primary;
            }

            li{
                box-shadow: 0 1px 8px 1px #000000;
            }
        }

        @media(min-width:$screen-sm) {
            .carousel-indicators{
                bottom: 20px;
            }
        }

        .carousel-inner .item{
            max-height: calc( 100vh - 87px);

            img{
                max-width: 100%;
                width: 100%;
            }

            .container{
                overflow: hidden;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }

            .carousel-caption{
                padding: 0;
                bottom: 30px;
                left: 0;
                width: 100%;

                .slide-title{
                    font-family: $font-family-CTA;
                    font-size: 1.75rem;
                    color: $white;
                    margin-bottom: .5rem;
                    margin-bottom: 0;
                }

                .price{
                    font-family: $font-family-sans-serif;
                    font-size: 1.25rem;
                    color: $white;
                    display: inline-block;
                    margin: 7px 1.5rem 0 0;
                }

                .btn{
                    font-size: .75rem;
                    padding: .85rem .6rem;
                    // background: rgba($white, .2);
                    color: $white;

                    &:hover{
                        // background: rgba($white, .3);
                    }
                }
            }

            @media(min-width:$screen-sm) {
                .carousel-caption{
                    bottom: 60px;

                    .slide-title{ font-size: 2.4rem; }
                    .price{ font-size: 1.8rem; margin-top: 10px; }
                    .btn{ font-size: .9rem }
                }
            }
        }
    }




    /* ===========================
            SECTION OFFERS
    =========================== */
    #primary .site-main #offer{
        .section-inner-content{
            .offer-title{
                text-align: left;
                margin-bottom: 1.5rem;

                &:after{
                    content: '';
                    width: 1.5rem;
                    height: 3px;
                    background: #3c3c3c;
                    display: inline-block;
                    margin-top: 1.5rem;
                }
            }

            .offer-content{
                p{
                    font-size: 1rem;
                }
            }
        }
    }

    @media(min-width:$screen-sm) {
        #primary .site-main #offer{
            .section-inner-content{
                .offer-title{
                    text-align: right;
                    margin-bottom: 0;

                    &:after{
                        float: right;
                    }
                }

                .offer-content{
                    width: calc(66.66667% - 2rem);
                    margin-left: 2rem;

                    p{
                        font-size: .8rem;
                    }
                }
            }
        }
    }




    /* ===========================
           SECTION PROPERTY
    =========================== */
    #primary .site-main #property{
        background: #f6f6f6;

        .section-inner-content .section-top .section-header{
            .entry-title{
                font-size: 45px;
                color: #3c3c3c;
                text-align: center;

                &:after{
                    content: '';
                    background: $brand-primary;
                    height: 3px;
                    width: 110px;
                    display: block;
                    margin: 1.5rem auto;
                }
            }

            p{
                margin: 0 auto;
                float: none;
            }
        }

        .section-inner-content{
            text-align: center;

            .section-content{
                margin-top: 3rem;

                .gallery-box{
                    margin-bottom: 2rem;

                    .element{
                        background: $white;
                        border: $border-small $gray-lighting;
                        max-width: 450px;
                        margin: 0 auto;
                        margin-bottom: 1.25rem;
                        float: none;

                        &:nth-child(6){
                          margin-bottom: 0;
                        }

                        .thumbs{
                            // max-height: 223px;
                            display: block;
                            overflow: hidden;

                            img{
                                width: 100%;
                            }
                        }

                        // @media(max-width:$screen-sm) {
                        //     .thumbs{ max-height: 301px; }
                        // }
                        //
                        // @media(min-width:$screen-sm) {
                        //     .thumbs{ max-height: 192px; }
                        // }
                        //
                        // @media(min-width:$screen-md) {
                        //     .thumbs{ max-height: 236px; }
                        // }


                        a.inverse{
                            font-family: $font-family-title-medium;
                            font-size: 1.3rem;
                            margin-top: 1.25rem;
                            margin-bottom: .25rem;
                            display: block;
                            text-align: center;
                        }

                        .element-place,
                        .element-price{
                            text-align: center;
                        }

                        .element-price{
                            font-family: $font-family-sans-serif;
                            color: $brand-primary;
                            margin-top: .8rem;
                            margin-bottom: 1.25rem;
                        }

                        .element-room{
                            border-top: $border-small $gray-lighting;
                            padding: .5rem 0;
                            text-align: center;

                            ul{
                                list-style: none;
                                padding: 0;
                                display: inline-block;
                                margin: 0 auto;

                                li{
                                    display: inline-block;

                                    &:nth-child(2){
                                        &:before,
                                        &:after{
                                            content: ".";
                                            margin: 0 .75rem;
                                            display: inline-block;
                                            line-height: 1;
                                        }
                                    }

                                    p{
                                        font-family: $font-family-sans-serif;
                                        font-size: .85rem;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-primary{
                font-size: .8rem;
                margin: 0 auto;
            }
        }
    }


    @media(min-width:$screen-sm) {
        #primary .site-main #property{
            .section-inner-content .section-content .gallery-box .element{
                width: calc(33.33333% - (2.5rem / 3));
                margin: 0;
                margin-bottom: 1.25rem;
                float: left;

                &:nth-child(3n+2){
                    margin-right: 1.25rem;
                    margin-left: 1.25rem;
                }

                &:nth-child(n+4){
                    margin-bottom: 0;
                }

                a.inverse{ font-size: 1.1rem; }
                .element-room ul li p{ font-size: .65rem; }
            }
        }
    }




    /* ===========================
            SECTION TEAM
    =========================== */
    #primary .site-main #team{
        .section-inner-content{
            .section-header .entry-title{
                text-align: center;
                font-size: 2.25rem;
                color: $gray-dark;

                &:after{
                    content: '';
                    background: $brand-primary;
                    height: 3px;
                    width: 110px;
                    display: block;
                    margin: 1.5rem auto;
                }
            }
        }

        #carousel-team{
            margin-bottom: 0;
            height: 423px;

            .container{
                position: static;
            }

            .carousel-indicators{
                top: 90px;
                bottom: auto;
                left: 50%;
                transform: translateX(-50%);
                margin-left: 0;

                li{
                    border-color: $brand-primary;

                    &.active{
                        background: $brand-primary;
                        border-color: $brand-primary;
                    }
                }
            }

            .carousel-inner .item{
                background: transparent;

                .thumbs{
                    float: none;

                    img{
                        margin: 0 auto;
                        display: block;
                        max-height: 400px;
                    }
                }

                .carousel-caption{
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 1rem;
                    text-shadow: none;
                    padding-bottom: 0;
                    height: 400px;
                    float: none;

                    .content-caption{
                        background: rgba(#000, .5);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        text-align: center;
                        padding: 1rem;
                        max-width: 450px;
                        margin: 0 auto;
                        float: none;
                        width: 100%;

                        .section-header{
                            display: none;

                            .entry-title{
                                text-align: center;
                                font-size: 2.25rem;
                                color: $gray-dark;

                                &:after{
                                    content: '';
                                    background: $brand-primary;
                                    height: 3px;
                                    width: 110px;
                                    display: block;
                                    margin: 1.5rem 0;
                                }
                            }
                        }

                        .team-name{
                            font-size: 1.25rem;
                            color: $white;
                            margin-bottom: 1.5rem;
                            display: block;
                            text-align: center;
                        }

                        p{
                            margin-bottom: 1.5rem;
                            font-size: .8rem;
                            text-align: left;
                            color: $white;
                            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

                            &.fa-phone.phone{
                                color: $white;
                                margin-bottom: 0;
                                display: block;
                                text-align: center;
                                margin-bottom: .5rem;

                                &:before{
                                    margin-right: .75rem;
                                    font-size: .75rem;
                                }
                            }
                        }

                        a{
                            margin-bottom: 0;
                            font-size: .8rem;
                        }

                        .fa:before{
                            color: $white;
                            margin-right: .75rem;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }
    }


    @media(min-width:$screen-sm) {
        #primary .site-main #team{
            padding: 0;

            .section-inner-content > .section-header{ display: none; }

            .section-inner-content #carousel-team{
                margin-bottom: 0;
                height: 500px;

                .carousel-indicators{
                    top: 21%;
                    left: 70%;

                    li{
                        border-color: $brand-primary;

                        &.active{
                            background: $brand-primary;
                            border-color: $brand-primary;
                        }
                    }
                }

                .carousel-inner .item{
                    background: transparent;

                    .thumbs{
                        width: calc(33.33333% - 1.5rem);
                        margin-right: 1.5rem;
                        float: left;

                        img{
                            margin: 0 auto;
                            display: block;
                            width: 100%;
                            max-height: 500px;
                        }
                    }

                    .carousel-caption{
                        position: relative;
                        right: 0;
                        left: 0;
                        bottom: auto;
                        text-shadow: none;
                        padding-bottom: 0;
                        height: 500px;
                        float: left;
                        display: flex;
                        align-items: center;

                        .content-caption{
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateX(0) translateY(-50%);
                            text-align: left;
                            background: transparent;
                            padding: 0;
                            max-width: none;

                            .section-header{
                                display: block;

                                .entry-title{
                                    text-align: left;
                                    font-size: 2.25rem;
                                    color: $gray-dark;

                                    &:after{
                                        content: '';
                                        background: $brand-primary;
                                        height: 3px;
                                        width: 110px;
                                        display: block;
                                        margin: 1.5rem 0;
                                    }
                                }
                            }

                            .team-name{
                                font-size: 1.25rem;
                                color: $gray-dark;
                                margin-bottom: 1.5rem;
                                display: block;
                                text-align: left;
                            }

                            p{
                                margin-bottom: 1.5rem;
                                font-size: .8rem;
                                text-align: left;
                                color: $gray-dark;
                                text-shadow: none;

                                &.phone{
                                    margin-right: 1.5rem;
                                }

                                &.fa-phone.phone{
                                    color: $gray-dark;
                                    display: inline-block;
                                    margin-bottom: 0;

                                    &:before{
                                        margin-right: .75rem;
                                        font-size: .75rem;
                                    }
                                }
                            }

                            a{
                                margin-bottom: 0;
                                font-size: .8rem;
                            }

                            .fa:before{
                                color: $gray-dark;
                                margin-right: .75rem;
                                font-size: .75rem;
                            }
                        }
                    }
                }
            }
        }
    }




    /* ===========================
          SECTION MORE ABOUT
    =========================== */
    #primary .site-main #more-about{
        background: #f3f2f2;
        padding: 2rem 0;

        .section-inner-content{
            display: flex;
            align-items: center;

            .section-title .entry-title{
                font-family: $font-family-CTA;
                color: #3c3c3c;
                font-size: 1.6rem;
            }

            .section-btn a{
                font-size: .8rem;
            }
        }
    }




    /* ===========================
         SECTION TESTIMONIALS
    =========================== */
    #primary .site-main #testimonials{
        background: url(assets/images/testimonial-bg.jpg) no-repeat;
        background-size: cover;

        .section-inner-content .section-header .entry-title{
            font-size: 2.25rem;
            color: #ddd;
            text-align: center;
            text-transform: capitalize;

            &:after{
                content: '';
                background: $brand-primary;
                height: 3px;
                width: 110px;
                display: block;
                margin: 1.5rem auto;
            }
        }

        .section-inner-content #carousel-testimonials{
            height: 175px;
            margin-bottom: 0;

            .carousel-indicators{
                bottom: -10px
            }

            .carousel-inner .item{
                background: transparent;
                height: 265px;

                .carousel-caption{
                    bottom: auto;

                    p{
                        font-size: .9rem;
                        color: #fff;

                        &.testimonials-author{
                            margin-top: 1.25rem;
                            margin-bottom: 1.5rem;
                            font-size: .8rem;
                        }
                    }

                    a.read-more{ display: none; }
                }
            }
        }
    }

    @media(min-width:$screen-sm) {
        #primary .site-main #testimonials .section-inner-content #carousel-testimonials{
            height: 175px;

            .carousel-indicators{
                bottom: 0;
            }
        }
    }





    /* ===========================
          SECTION PARTENAIRS
    =========================== */
    #primary .site-main #partenairs .container{
        margin: 0 auto;

        .section-inner-content{
            .section-title{
                margin-bottom: 2rem;

                .entry-title{
                    font-size: 1.8rem;
                    color: $gray-dark;
                    text-align: center;
                }
            }
        }

        @media(min-width:$screen-md) {
            .section-inner-content{
                position: relative;
                display: flex;
                align-items: center;

                .section-title{
                    width: 17%;
                    margin-bottom: 0;

                    .entry-title{
                        font-size: 1.4rem;
                        text-align: left;
                    }
                }
            }
        }

        .section-inner-content .partenairs-list{
            .partenairs-single{
                margin-bottom: 2rem;

                &:last-child{ margin-bottom: 0; }
                img{ margin: 0 auto; }
            }
        }

        @media(min-width:$screen-md) {
            .section-inner-content .partenairs-list{
                margin-left: 1rem;
                position: relative;
                display: flex;
                align-items: center;

                .partenairs-single{
                    margin: 0 2.25rem;

                    &:last-child{ margin-right: 0; }
                    img{ margin-right: 0; max-width: 100%; }
                }
            }
        }
    }
}
