/* ===========================
            NAVBAR
=========================== */
.navbar-default {
    background-color: $white;

    .site-navigation-inner{ min-height: 78px; }
}

@media(max-width:$screen-sm) {
    .navbar-default > .container{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media(min-width:$screen-md) {
    .navbar-default{
        max-height: 80px;
    }

    .navbar-default > .container{
        margin: 0 auto;
    }
}




/* ===========================
        NAVBAR HEADER
=========================== */
.navbar-default .navbar-header{
    display: flex;
    align-items: center;
    position: relative;
}

@media(max-width:$screen-md) {
    .navbar-default .navbar-header{
        padding-left:  15px;
        padding-right: 15px;
    }
}




/* ===========================
     NAVBAR HEADER CONTENT
=========================== */
.navbar-default .navbar-header{
    .navbar-brand{
        height: auto;
        max-width: 140px;
    }

    .navbar-toggle{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 15px;
        margin: 0;

        &:active,
        &:focus{
            background: transparent;
        }

        &:hover{
            background: $brand-primary;

            .icon-bar{
                background: $white;
            }
        }
    }
}




/* ===========================
        NAVBAR COLLAPSE
=========================== */
.navbar-default .navbar-collapse .navigation ul{
    margin-top: 0;

    li{
        &.active{
            background: #f2f2f2;
        }

        &:hover{
            background: #f2f2f2;
        }

        a{
            font-size: 1.25rem;
            padding: 2rem 1rem;
            text-align: center;
            color: $gray-dark;
        }
    }
}

@media(max-width:$screen-md) {
    .navbar-default .navbar-collapse{
        width: 100%;
    }
}

@media(min-width:$screen-md) {
    .navbar-default .navbar-collapse{
        .navigation, .rs{
            display: inline-block;
        }
    }

    .navbar-default .navbar-collapse .navigation ul li a{
        font-size: .9rem;
    }
}





/* ===========================
          HEADER RS
=========================== */
.navbar-default .navbar-collapse .rs{
    ul{
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;

        li{
            display: inline-block;

            a{
                display: inline-block;
                font-size: 0px;
                cursor: pointer;
                margin: 0 10px;
                width: 32px;
                height: 32px;
                line-height: 1rem;
                border-radius: 50%;
                text-align: center;
                color: #f2f2f2;
                border: 2px solid #f2f2f2;
                padding: 0;

                i{
                    font-size: 1.15rem;
                    color: $gray-dark;
                    line-height: 1.9rem;
                }

                &:hover{
                    background: $brand-primary;
                    border-color: $brand-primary;

                    i{
                        color: $white;
                    }
                }
            }
        }
    }
}


@media(min-width:$screen-md) {
  .navbar-default .navbar-collapse{
    .rs ul li a{
      margin: 0 4px;

      i{
        font-size: .9rem;
        line-height: 1.5rem;
      }
    }
  }
}
