.page-template-tmp-property{

    /* ===========================
          PROPERTY LIST PAGE
    =========================== */
    .main-content-area > .row{
        text-align: center;

        .fil_ariane{
            display: inline-block;
        }

        .main-content-inner{
            margin-top: 1.25rem;
        }
    }




    /* ===========================
               SECTIONS
    =========================== */
    #primary .site-main #property{
        padding-bottom: 2rem;
    }




    /* ===========================
              PAGE TITLE
    =========================== */
    #primary .site-main #property .section-inner-content .type-page{
        text-align: center;
        display: inline-block;
        width: 100%;

        .section-top{
            position: relative;
            display: flex;
            align-items: flex-end;

            .section-header{
                display: inline-block;
                width: auto;
                float: none;
                padding: 0;
                margin: 0 auto;
            }

            .section-footer{
                display: inline-block;
                position: absolute;
                right: 0;
            }
        }

        @media(max-width:$screen-sm) {
            .section-top{
                display: block;

                .section-header, .section-footer{
                    width: 100%;
                    display: block;
                    float: none !important;
                }

                .section-footer{
                    margin-top: .25rem;
                    position: relative;
                }
            }
        }
    }




    /* ===========================
              NAV GALLERY
    =========================== */
    #primary .site-main #property .section-inner-content .section-content{
        margin-top: 2.75rem;

        > header #options{
            text-align: center;

            ul{
                list-style: none;
                display: inline-block;
                padding: 0;
                margin-bottom: 3.75rem;

                li{
                    list-style: none;
                    display: inline-block;
                    margin: 0 1rem;

                    a{
                        font-family: $font-family-CTA;
                        font-size: .9rem;
                        color: $gray-dark;

                        &.selected{
                            border-bottom: 2px solid $brand-primary;
                            margin-bottom: 5px;
                        }

                        &.selected,
                        &:hover{
                            color: $gray-light;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }




    /* ===========================
            GALLERY ITEMS
    =========================== */
    #primary .site-main #property .section-inner-content .section-content .entry-content .isotope-item{
        border: $border-small $gray-lighting;
        margin: 0 auto;
        margin-bottom: 2.25rem;
        max-width: 450px;

        .thumbs{
            // max-height: 223px;
            display: block;
            overflow: hidden;

            img{
                width: 100%;
            }
        }
        //
        // @media(min-width:$screen-sm) {
        //     .thumbs{ max-height: 134px; }
        // }
        //
        // @media(min-width:$screen-md) {
        //     .thumbs{ max-height: 181px; }
        // }

        a.inverse{
            font-family: $font-family-title-medium;
            font-size: 1.3rem;
            margin-top: 1.25rem;
            margin-bottom: .25rem;
            display: block;
        }

        .element-price{
            font-family: $font-family-sans-serif;
            color: $brand-primary;
            margin-top: .8rem;
            margin-bottom: 1.25rem;
        }

        .element-room{
            border-top: $border-small $gray-lighting;
            padding: 1rem 0;

            ul{
                list-style: none;
                padding: 0;

                li{
                    display: inline-block;

                    &:nth-child(2){
                        &:before,
                        &:after{
                            content: ".";
                            margin: 0 .75rem;
                            display: inline-block;
                            line-height: 1;
                        }
                    }

                    p{
                        font-family: $font-family-sans-serif;
                        display: inline-block;
                    }
                }
            }
        }
    }

    @media(min-width:$screen-sm) {
        #primary .site-main #property .section-inner-content .section-content .entry-content .isotope-item{
            margin-left: .75rem;
            margin-right: .75rem;
            width: calc(33.33333% - (.75rem * 2));

            a.inverse{ font-size: 1.2rem; }
            .element-room ul li p{ font-size: .65rem; }
        }
    }




    /* ===========================
             ANIMATIONS
    =========================== */
    .isotope,
    .isotope .isotope-item {
        transition-duration: 0.8s;
    }

    .isotope {
        transition-property: height, width;
    }

    .isotope .isotope-item {
        transition-property: transform, opacity;
    }

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        transition-duration: 0s;
    }
}
